/* Global Style */
body {
    margin: 0;
    text-align: center;
}

h1{
    margin:0;
}


/* Header Style */
.header-container {
    background-color: cadetblue;
    height: 10%;
    width: 100%;
    padding: 10px;
    border: 5px solid tan;
}


/* Upload Header Style */
.upload-header {
    /* margin: 100px; */
    font-size: x-large;
    display: inline-block;
    margin: 10px;
}

input[type="file"] {
    margin:10px 10px 10px 80px;
}

/* Button Style */
.button {
    border-radius: 4px;
    background-color: tan;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    width: 30%;
    height: 3%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
  }
  
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }

